
<ion-content > 
  <div class="ion-padding content">
    <h1 style="font-size: 4rem; color: #ff5a5a; text-align: center;">404</h1>
    <h1 style="font-size: 2rem; color: black; text-align: center;">( ｡ • ᴖ • ｡)</h1>
    <h2 style="color: #333;text-align: center">¡Ups! Página no encontrada</h2>
    <p style="color: #666;text-align: center">Lo sentimos, pero la página que buscas no existe.</p>

    <ion-button color="mitema" class="btn1" expand="full" routerLink="/login">Regresar a la pagina principal</ion-button>

  </div>
</ion-content> 

