<ion-header [translucent]="true">
  <ion-toolbar color="mitema">
    <ion-title>Mis asistencias</ion-title>
    <ion-button slot="end" fill="clear" routerLink="/home"> 
      <ion-icon name="chevron-back" class="icono"></ion-icon>  
    </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Sección de la tabla de asistencias -->
  <div *ngIf="asistencias.length > 0">
    
    
    <div class="table-container">
      <table style="width: 100%; border-collapse: collapse;">
        <thead>
          <tr>
            <th>Asignatura</th>
            <th>Sección</th>
            <th>Sala</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asistencia of asistencias">
            <td>{{ asistencia.asignatura }}</td>
            <td>{{ asistencia.seccion }}</td>
            <td>{{ asistencia.sala }}</td>
            <td>{{ asistencia.fecha }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Mensaje si no hay asistencias -->
  <div *ngIf="asistencias.length === 0">
    <ion-text>No tienes asistencias registradas.</ion-text>
  </div>
</ion-content>