.icono{
    font-size: 150%;
    color: white;
}
ion-toolbar{
    background-color: var(--ion-color-mitema);
}
.header{
    --background:var(--ion-color-mitema-tint); 
    color: black;
}
.item1 {
    --background:var(--ion-color-mitema2-shade); 
  }
.table-container{
padding-top: 5%;
}
td{
    padding: 10px;
    border: 1px solid #ddd;
}
th{
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}