.text{
    font-size: 90%;
    white-space: wrap;
}
.icono{
    font-size: 150%;
    color: white;
}
ion-toolbar{
    background-color: var(--ion-color-mitema);
}
.header{
    --background:var(--ion-color-mitema-tint); 
    color: black;
}
.item1 {
    --background:var(--ion-color-mitema2-shade); 
  }
  
