<ion-header>
  <ion-toolbar class="hdr1" color="mitema">
    <ion-title>Perfil de Usuario</ion-title>
    <ion-button slot="end" fill="clear" color="light" [routerLink]="['/home']">
      <ion-icon name="home" slot="start"></ion-icon>
      Inicio
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="currentUser; else noData">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>RUT</h2>
            <ion-input [disabled]="!isEditing" [(ngModel)]="currentUser.rut"  ></ion-input>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Nombre</h2>
            <ion-input [disabled]="!isEditing" [(ngModel)]="currentUser.name"  ></ion-input>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Apellidos</h2>
            <ion-input [disabled]="!isEditing" [(ngModel)]="currentUser.lastname"  ></ion-input>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Correo Electrónico</h2>
            <ion-input [disabled]="!isEditing" [(ngModel)]="currentUser.email"  ></ion-input>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Número Telefónico</h2>
            <ion-input [disabled]="!isEditing" [(ngModel)]="currentUser.cel"  ></ion-input>
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- Botones de editar y confirmar cambios -->
      <div class="btn-container">
        <ion-button *ngIf="!isEditing" (click)="enableEdit()" color="mitema" class="btn1" expand="block">Editar usuario</ion-button>
        <ion-button *ngIf="isEditing" (click)="confirmEdit()" color="success" expand="block">Confirmar Cambios</ion-button>
        <ion-button *ngIf="!isEditing" id="present-alert" color="danger" class="btn3" expand="block" (click)="showDeleteAlert()">Eliminar</ion-button>
        <!-- <ion-alert
          trigger="present-alert"
          header="Confirmar Eliminación"
          subHeader="Esta acción no se puede deshacer."
          message="¿Estás seguro que deseas eliminar este usuario?"
          [buttons]="alertButtons"
        ></ion-alert> -->
      </div>
    </ion-card>
  </div>

  <ng-template #noData>
    <p>No hay datos del usuario disponible.</p>
  </ng-template>
 
</ion-content>
