.cam{
  padding: 50%;
}

ion-title{
  text-align: left; 
  display: flex;
  justify-content: flex-start; 
  padding-left: 5%;
}
.wel-text{
  white-space: wrap;
}
.container{
  margin: 5%;
  padding-top: 20%;
  padding-bottom: 20%;
}
ion-toolbar{
  background-color: var(--ion-color-mitema);
}
.icono{
  font-size: 150%;
  color: white;
}
ion-button{
  border-radius: 15px;
  //Anim
  --background-activated:var(--ion-color-mitema2-tint);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  &:active {
      transform: scale(0.95);
      background-color: var(--ion-color-primary-shade);
  }
}

.container2 {
  display: flex;
  justify-content: center;  
  align-items: center;   
}
.btn{
  background-color: var(--ion-color-mitema2);
  color: var(--ion-color-mitema);
}

.containerqr { 
  display: flex;
  justify-content: center;  
  align-items: center;  
}